*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
button{
    width: 150px;
    height: 50px;
    border: 1px solid blue;
    color: blue;
    background-color: none;
    cursor: pointer;
}
button:focus{
    border: 3px solid green;
    color: green;
}
.card{
    width: 150px;
    height: 250px;
    border: none;
    cursor: pointer;
}
.card:focus{
    border: 3px solid green;
}
.cthulthu{
    background-image: url('./assets/Ancients/Cthulthu.png');
    background-size: cover;
    grid-area: cthulthu;
}
.azathoth{
    background-image: url('./assets/Ancients/Azathoth.png');
    background-size: cover;
    grid-area: azathoth;
}
.iogSothoth{
    background-image: url('./assets/Ancients/IogSothoth.png');
    background-size: cover;
    grid-area: iogSothoth;
}
.shubNiggurath{
    background-image: url('./assets/Ancients/ShubNiggurath.png');
    background-size: cover;
    grid-area: shubNiggurath;
}

.pack{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.cover{
    width: 200px;
    height: 250px;
    flex-grow: 1;
    background-image: url('https://github.com/ekaraeva/eldritch-codejam/blob/main/assets/MythicCards/blue/blue1.png');
    background-size: cover;
    cursor: pointer;
}
.ancients{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    grid-template-areas: "cthulthu azathoth"
                        "iogSothoth shubNiggurath";
}
.round-container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.round-container > div{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50px;
}
.green{
    background-color: green;
}
.red{
    background-color: red;
}
.blue{
    background-color: blue;
}


