*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.main{
    display: flex;
    flex-direction: column;
    gap: 80px;
}
button{
    width: 150px;
    height: 50px;
    border: 1px solid blue;
    color: blue;
    background-color: none;
    cursor: pointer;
}
button:focus{
    border: 3px solid green;
    color: green;
}
.card{
    width:350px;
    height: 450px;
    border: none;
    cursor: pointer;
}
.card:focus{
    border: 3px solid green;
}
.cthulthu{
    background-image: url('./assets/Ancients/Cthulthu.png');
    background-size: cover;
}
.azathoth{
    background-image: url('./assets/Ancients/Azathoth.png');
    background-size: cover;
}
.iogSothoth{
    background-image: url('./assets/Ancients/IogSothoth.png');
    background-size: cover;
}
.shubNiggurath{
    background-image: url('./assets/Ancients/ShubNiggurath.png');
    background-size: cover;
}
.btns{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pack{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.cover{
    width: 200px;
    height: 250px;
    flex-grow: 1;
    background-image: url('./assets/mythicCardBackground.png');
    background-size: cover;
    cursor: pointer;
}
.ancients{
    display: flex;
    justify-content: space-around;
    width: 100vw;
}
.round-container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.round-container > div{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50px;
}
.green{
    background-color: green;
}
.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
